page-welcome {
    .swiper-pagination-bullet-active{
        background: white;
    }
    
    .padding {
        padding-bottom: 100px;
    }
    #welcomebtn{
        background-color: #fcfdfdb2;
        color: #e23c3c;
    }
    .img {
       height: 30%;
       width: 50%;
    }
}
